/*
Use at the very beginning to set up the basic structure with divs:
{border: 1px solid red !important;}
*/

/* ***** GENERAL RULES ***** */

*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

body {
	background-image: url("images/background.jpg");
	background-attachment: fixed;
	font-family: "Work Sans","Trebuchet MS", Helvetica, sans-serif;
	font-weight: 100;
}

a {
	color:#cd5508;
	text-decoration:none;
	font-weight: bold;
}

/* I think it would look nicer to unbold the 
visited link, but I read you can't do it anymore.
I don't really understand how font-weight is 
more dangerous than color, but maybe I will
as I keeo studying. */

a:visited {
	color:dimgray;
}

figcaption {
	font-size: small;
	text-align: center;
}

img {
	max-width: 100%;
}

/* ***** TITLE ***** */

h1 {
	color:white;
	text-align: center;
	margin-top: 220px;
	margin-bottom: 220px;
	font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
}

.title {
	font-size: 90px;
	text-shadow: 2px 2px 10px black;
}

.subtitle {
	font-weight: lighter;
	font-size: 35px;
	text-shadow: 1px 1px 5px black;
}

.author {
	font-weight: lighter;
	font-size: 25px;
	padding: 30px;
	text-shadow: 1px 1px 5px black;
}

/* ***** SECTION HEADERS ***** */

h2 {
	color: white;
	margin:0;
	padding:20px;
	font-size: 35px;
	font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
}

.header {
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 20px;
	margin:auto;
	margin-bottom: 3%;
	padding: 20px;
	padding-top: 0px;
	max-width: 1100px;
}

/* ***** SECTION INSIDES ***** */

.content {
	background-color: white;
	border-radius: 10px;
	padding: 5px;
	overflow: auto;
 }

 p {
	margin: 7px;
	font-weight:100;
}

.textbook {
	width:350px;
	margin:1%;
	float: right;
}

.photos_row {
 	display: flex;
 	display: -webkit-flex;
 	flex-direction: row;
 	flex-wrap: wrap;
 	justify-content: space-around;
 }

/* ***** THE LIST WITH LOGOS ***** */

ul {
	text-align: center;
	margin:auto;
	padding: 0; 
	columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

ul li {
	list-style-type: none;
}

.photo_logo {
	width: 200px;
	max-width: 100%;
	box-shadow: 5px 10px 5px grey;
	border-radius:5px;
	margin: 5px;
}

/* ***** MEDIA QUERY: LOGO LIST ***** */

@media screen and (max-width: 740px) {

	ul {
	margin:auto;
	padding: 0; 
	columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
	} 
}

/* ***** MY INFO AT THE BOTTOM***** */

.mypic {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin:10px;
}

.author_info {
	display: flex;
 	display: -webkit-flex;
 	flex-direction: row;
 	flex-wrap: wrap;
 	align-items: center;
 	padding-top: 20px;
}

